ul#shortcut-menu li {
    list-style-type: none;
    font-size: 16px;
}

#shortcut-menu {
	margin-left: -35px;
}

/*-- list of internet plan blocks start --*/
    /* plan block */
.brand-block {
    border: 1px dashed darkred;
	background-color:#F0F0F0;
    border-radius: 5px;
    height: 220px;
    width: 230px;
}

    /* brand image in plan block */
.brand-image {
    height:40px;
    border-bottom: 3px solid #F8F8F8;
    padding-top: 5px;
}
/*-- list of internet plan blocks end --*/

/*-- select shortcut start --*/
.shortcut {
	border:1px solid #E8E8E8;
	background-color:white;
	padding:3px 5px 3px 5px;
	border-radius:5px;
	color:black;
	outline: none;
}
.shortcut:hover {
	text-decoration: line-through;
	
}
/*-- select shortcut end --*/

.scissors{
	float:right;
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari */
	transform:rotate(-90deg);
	margin-right:-6px;
	color:darkred;
}
