/*-- start selling steps after menubar start --*/
.header-banner{
    background-color:#005387; 
    margin-top:-20px;
    text-align: center;
    font-weight: bolder;
    padding: 20px 0px 30px 0px;
}

.navbar-inverse {
	background-color: #232f3e;
	border-color: #232f3e;	
}

.row-items {
    margin-top:20px;
    margin-bottom:10px;
}

.how-sell {
    text-align: center;
}

.sell-step{
    border:1px solid transparent;
    border-radius: 8px;
    padding: 2px 0px 0px 15px;
    height:110px;
    color: antiquewhite;
}
/*-- start selling steps after menubar start --*/

.sell-contact {
	color:#ACD9FF;
	font-family:"bebasneue";
	font-size:25.2px;
	box-sizing:border-box;
	font-weight:500;
	line-height:27.7px;
	margin-bottom:10px;
	margin-top:20px;
}

#footer-shortcut-link {
	color: white;
	outline: none;
}

#footer-shortcut-link:hover {
	text-decoration: none;
	color:#FBD00E;
}