/*--  --*/
.header-banner{
    background-color:#005387; 
    margin-top:-20px;
    text-align: center;
    font-weight: bolder;
    padding: 20px 0px 30px 0px;
}

.row-items {
    margin-top:20px;
    margin-bottom:10px;
}

.how-sell {
    text-align: center;
}

.sell-step{
    border:1px solid transparent;
    border-radius: 8px;
    padding: 2px 0px 0px 15px;
    height:110px;
    color: antiquewhite;
}
