/*--------------------------------------------- logo, slogan, helping bar and search bar start ------------------------------------------------*/

/*topbar background color*/
.header-topbar {
    /*background-color: #228B22;   amazon : #232f3e;*/
    background-color:#3b5998;
}

/*company logo*/
.company-logo {
	margin-top:13px;
	margin-left:30px;
	width:200px;
	height:40px;
}

/*slogan*/
#slogan {
	margin-left:50px;
	color:#EEE8AA;
}

/* fix header on scroll start */
.fix-nav {
	z-index: 9999;
	position: fixed;
	left: 0;
	top: 0;
	padding-top:0px;		
	width: 100%;
}

.fix-body {
	margin-top: 50px;
}
/* fix header on scroll end */

/* helping bar start*/
ul#menu1 {
    padding: 5px 0px 0px 31px;
}

ul#menu1 > li > a {
    padding: 4px;
    color: #DCDCDC;
}

ul#menu1 li a:hover {
    text-decoration: none;
    color: darkred;
}
.helpbar-border {
	border-left: 1px solid rgba(255, 255, 255, 0.2); 
	display:inline;
}
/*helping bar end*/

/*change city location start*/
.topsearch {
    margin-top: 5px;
}
.topsearch a:hover {
    color: darkred;
}
.cityloc {
    overflow:scroll; 
    overflow-X:hidden; 
    overflow-Y:scroll; 
    width:173.5px; 
    height:380px;
}
ul.cityloc li {
    border-bottom: 1px solid #DCDCDC;
}

.cityname {
    list-style-type: none;
}

ul.cityname li {
    padding: 5px;
}
/* change city location end */

/* modal signup and login start */
ul#menu3 li a {
    color: black;
    font-weight: bold;
}

ul#menu3 li a:hover {
    color: #005387;
    font-weight: bold;
}

.form-group{
    position: relative;
}

.modal-body-left{
    float:left; 
    width:53%;
    padding-right:15%;
    border-right: 1px dotted black;
}

.modal-body-right{
    float:right; 
    width:47%;
    padding-left: 10%;
}

.modal-social-icons{
    padding:25% 0%;
}

.facebook, .twitter, .google, .linkedin {
    width:50%;
    height:30px; 
    padding-top:2%; 
    margin-top:2%;
    font-weight: bold;
}

.modal-icons{
    margin-left: -10px; 
    margin-right: 10px;
}

.google, .google:hover{
    background-color:#dd4b39;
    border:2px solid #dd4b39;
    color:#fff;
}

.twitter, .twitter:hover{
    background-color: #00aced; 
    border:2px solid #00aced;
    color: #fff;
}

.facebook, .facebook:hover{
    background-color: #3b5999; 
    border:2px solid #3b5999;
    color:#fff;
}

.linkedin, .linkedin:hover{
    background-color: #007bb6; 
    border: 2px solid #007bb6; 
    color:#fff;
}

#social-icons-conatainer{
    position: relative;
}

#center-line{
    position: absolute;  
    right: 247px;
    top: 100px;
    background: #DC143C;  
    border: 10px solid #DC143C;
    border-radius: 100px;*/
    font-weight: bold;
}
/* modal signup and login end */
/*--------------------------------------------- logo, slogan, helping bar and search bar start ------------------------------------------------*/


/*---------------------------------------------- menubar start ------------------------------------------------------------------------------- */

.header-menubar{
    /*background-color: #333;   */
    background-color: #232f3e;
}

.menutab {
  display: inline-block;
  padding: 0px 0px 0px 0px;
  font-weight: bold;
}

.nav-list { 
	border-bottom: 0px solid #eee; 
}

.nav-list > li { 
    padding: 10px 10px 15px; 
    border-left: 1px solid #eee;
}

.nav-list > li > a:focus { 
    text-decoration: none; 
}

.nav-list > li > a > span {
  display: block;
  font-weight: bold;
}

.mega-dropdown { position: static !important; }
.mega-dropdown-menu {
    margin-left: 335px;
    padding: 20px 15px 15px;
    width: 60.2%;
}

.sublist { 
    padding: 0px 0px 10px 10px;
}
/*---------------------------------------------- menubar end ------------------------------------------------------------------------------- */


/*-------------------- Carousel slide show  start------- */

.slide-show {
	width: 100%;
    height: 400px;
	margin-top: -20px;
	position: relative;
	z-index: -9999;
}

/*-----------------Carousel slide show  end -------------*/

/*---------four wheeler, two wheeler, cakes and internet plans block start -------*/

.slide-block {
    width:1100px;
}

div.slide-block img:hover {
    border: 2px solid #FF8C00;
}

.head-block {
    width:1100px; 
    background-color:#333;
    color: whitesmoke;
    padding: 4px 0px 2px 9px;
}

.item .thumb {
	width: 25%;
	cursor: pointer;
	float: left;
}
.item .thumb img {
	width: 100%;
	margin: 2px;
}
.item img {
	width: 100%;	
}
/*---------four wheeler, two wheeler, cakes and internet plans block end ---------*/

html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;	
}

/*-----------------IN cake page -------------------------*/
.sort {
    border-top:1px solid #F0F0F0; 
    border-bottom:1px solid #F0F0F0;
    
}

.rating {
    position: absolute;  
    background: #3F7E00;  
    border: 15px solid #3F7E00;
    border-radius: 10px;
    font-weight: bold;
    color: aliceblue;
}

/*--------- cake page end --------------------*/

/*----------how it works start-----------------*/
.howitworks{
    margin: 20px 0px 0px 0px;
}
/*------------how it works end----------*/

/*--------footer start ------------*/
.footer-block {
    bottom: 0px;
    border-top: 1px solid #C0C0C0;
    padding: 10px 0px 0px 0px;
    background-color: #3b5998;
    color: #DCDCDC;
}

ul.footer-list li {
    display:inline;
    padding: 4px;
}

ul.footer-list li a:hover {
	color: darkred;
}
/*-------footer end------------*/
